@import url(https://fonts.googleapis.com/css?family=Hammersmith+One&subset=latin,latin-ext);
.ender {display: block; width: 1px; height: 1px; visibility: hidden; clear: both}

body {margin: 0px 0px 0px 0px; padding: 0px 0px 20px 0px}
#center {position: realtive; display: block; width: 960px; margin: 0px auto;}
#center #header #header-img img {display: block; float: left; border-bottom: 2px solid #00a2ff}
#center #header #nav {height: 50px; width: 850px; float: right; background: url('../img/parts/darker_black.png')} 
#center #header #nav ul {list-style: none; padding: 0px; margin: 0px}
#center #header #nav ul li {display: block; float: left}
#center #header #nav ul li a {display: block; height: 50px; margin: 0px 5px 0px 5px; padding: 0px 15px 0px 15px; font-family: 'Hammersmith One'; color: white; text-decoration: none; font-size: 24px}
#center #header #nav ul li a span {display: block; padding-top: 12px}
#center #header #nav ul li a:hover, #center #header #nav ul li a:active {text-decoration: underline; color: #00a2ff}
#center #header #nav ul li:first-of-type a {margin-left: 10px}
#footer {text-align: right; padding-right: 5px; padding-top: 2px; font-family: 'Hammersmith One'; font-size: 14px; color: black; opacity: 0.8}
#footer:hover {color: #00a2ff; opacity: 1}

#center #content-wrapper {margin-top: 70px; background: url('../img/parts/black_bg.png')}
#center #content {padding: 7px; color: white}
#center #slider {height: 250px; color: white; margin-bottom: 10px; border: 2px solid white}
#center #slider-wrapper {padding: 15px; height: 190px}
#center #slider h1 {font-family: 'Hammersmith One'}
#center #slider p {display: table; font-family: Arial; padding-top: 5px; max-width: 390px; border-top: 1px solid white}
#center #slider a#more {width: 100px; height: 30px; float: right; font-family: 'Hammersmith One'; font-size: 20px; color: black; text-decoration: none; background-color: white}
#center #slider a#more span {display: table; margin: 0px auto; margin-top: 3px}
#center #slider a#more span span {display: inline-block; width: 8px; height: 12px; margin-left: 4px; background-image: url('../img/parts/arrow.png')}
#center #slider a#more:hover {color: #00a2ff}
#center #slider a#more:hover span span {color: #00a2ff; background-position: 8px center}

#content #main-sec {min-height: 200px; padding: 5px; background: url('../img/parts/black_bg.png')}
#content #main-sec h1 {font-family: 'Hammersmith One'; font-size: 28px}
#content #main-sec p {font-family: Arial; font-size: 17px}
#content #main-sec p.columns {-webkit-column-count: 3; -moz-column-count: 3; column-count: 3;}
#content #main-sec #gallery {padding-top: 10px}
#content #main-sec #gallery a.photo {display: block; float: left; margin: 0px 0px 10px 10px; text-decoration: none}
#content #main-sec #gallery a.photo img {position: relative; display: block; width: 220px; height: 220px; text-decoration: none}
#content #main-sec #gallery a.photo img {position: relative; display: block; width: 910px; height: 860px; text-decoration: none}